html {
    font-family: Verdana;
}
header {
    background-color: rgb(117, 173, 62);
    color: lightcyan;
    font-size: 1.5rem;
    text-align: center;
}
nav, a {
    display: inline-flex;
    color: lightcyan;
    background-color: rgb(8, 54, 8);
    font-size: 1.2rem;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    opacity: .75;
}
main {
    flex-wrap: wrap;
}
main, .containerArriba{
    display: inline-flex;
    margin: 10px;
    justify-content: center;
}
.container {
    display: inline-flex;
    flex-direction: column;
    margin: 15px;
    max-width: 700px;
}
img {
    width: 400px;
    margin-top: 10px;
}

.Container1 button {
    font-size: 1.5rem;
    background-color: rgb(117, 173, 62);
    color: lightcyan;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
#reloj {
    background-color: hotpink;
    height: 60px;
    font-size: 2rem;
    text-align: center;
    color: lightcyan;
    padding: 10px;
    margin: 2px;
}

form input, select{
    font-size: 2rem;
    background-color: skyblue;
    color: lightcyan;
    border: solid lightskyblue 1px;
    border-radius: 5px;
}
.punteador {
    background-color: rgb(117, 173, 62);
    margin: 15px;
    border-radius: 15px;
    display: inline-flex;
    font-size: 2rem;
    padding: 10px;
    color: lightcyan;
    width: 90%;
}
#messageArea, #messageArea2 {
    font-size: 2rem;
    margin: 5px;
}
#finalMessage {
    color: green;
    margin-left: 15px;
    font-size: 1.5rem;
}
footer {
    margin-top: 10px;
    color: grey;
}
